.gpu-container {
  text-align: center;
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gpu-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.gpu-card {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
}

.gpu-card h2 {
  margin-top: 0;
}

.gpu-card p {
  margin: 5px 0;
}

.gpu-card span {
  font-weight: bold;
}
